@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");
/* #252b42
#23a6f0
rgb(7, 7, 87)
#b00cf4
#fbfcfb */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  font-family: "Montserrat", sans-serif;
}
/* hero section */
.container {
  background: url("images/hero.png") no-repeat center center;
  background-size: cover;
  /* height: 100vh; */
  background-color: black;
  padding-bottom: 150px;
  margin-bottom: 200px;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
  font-size: 18px;
}
.logo {
  color: #fff;
}
ul {
  display: flex;
  gap: 20px;
  color: #fff;
}
li {
  list-style: none;
}
.login {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.login-btn {
  width: 190px;
  height: 40px;
  outline: none;
  border: none;
  background-color: #34b3f1;
  color: #fff;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 5px;
}
.hero-section {
  text-align: center;
  margin-bottom: 100px;
}
.hero-text {
  flex-direction: column;
  /* padding: 100px; */
  text-align: center;
  color: #fff;
}
.hero-text h1 {
  font-family: "Lato", sans-serif;
  font-size: 70px;
  font-weight: 900;
  text-align: center;
}
.hero-text p {
  padding: 10px;
  font-size: 16px;
}
.hero-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.heroBtnone {
  width: 200px;
  height: 60px;
  outline: none;
  border: none;
  background-color: #34b3f1;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 40px;
  border-radius: 30px;
}
.heroBtntwo {
  width: 200px;
  height: 60px;
  outline: none;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 40px;
  border-radius: 30px;
}
.icons-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  padding: 100px;
  margin-top: -400px;
}
.cards-first {
  width: 300px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  text-align: center;
}
.card-one {
  background-color: #fff;
  color: #000;
}
.card-two {
  background-color: #fff;
  color: #000;
}
.card-three {
  background-color: #34b3f1;
  color: #fff;
}
/* cards section */
.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  padding: 100px;
}
.cards-middle {
  width: 250px;
  height: 250px;
  text-align: center;
}
.blue-icon {
  color: #34b3f1;
  font-size: 64px;
}
.white-icon {
  color: #fff;
  font-size: 64px;
}

/* industry section */

.industry-section {
  padding: 100px;
  background-color: #eeeeee;
}
.industry-text {
  text-align: center;
}
.industry-heading {
  font-size: 38px;
  margin-bottom: 15px;
}
.industry-heading p {
  text-align: center;
}
.team-cards-section {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  gap: 40px;
  justify-content: space-evenly;
}
.team-cards {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.team-avatar {
  width: 80px;
  height: 80px;
  /* padding-bottom: 30px; */
}
.team-cards-text {
  padding-bottom: 20px;
}

/* partners section */
.partners-section {
  padding: 100px;
  background-color: #eeeeee;
}
.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.partner-logo img {
  width: 60px;
  height: 60px;
}

/* newsletter section */
.newsletter-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(to right, rgb(45, 45, 150), #f40c80);
  padding: 50px;
  color: #fff;
}
input {
  outline: none;
  border: none;
  padding: 20px;
  height: 50px;
  width: 300px;
}
.subscribe-button {
  width: 100px;
  height: 50px;
  background-color: #34b3f1;
  color: #fff;
  padding: 5px;
  outline: none;
  border: 2px solid #fff;
  font-size: 15px;
}
.newsletter-heading {
  font-size: 28px;
  padding: 20px;
}
/* pricing section */
.pricing-section {
  padding: 100px;
}
.pricing-title {
  text-align: center;
}
.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  justify-content: center;
}
.price-cards {
  border: 1px solid #34b3f1;
  height: 550px;
  width: 500px;
  text-align: center;
  padding: 5px;
}
.price-cards h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  padding: 20px;
}
.p-one {
  font-size: 16px;
  font-weight: 700;
  padding: 20px;
}
.price {
  font-size: 40px;
  padding-bottom: 10px;
}
.price-card-two {
  background-color: #252b42;
  color: #fff;
  margin-top: -50px;
  height: 600px;
}
.pricing-checkmarks {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.checkmark-span {
  padding-right: 10px;
}
.pricing-checkmarks img {
  width: 20px;
  height: 20px;
  text-align: center;
}
.pricing-buttons {
  width: 200px;
  height: 50px;
  background-color: #34b3f1;
  color: #fff;
  padding: 5px;
  outline: none;
  border: none;
  font-size: 15px;
  margin-top: 40px;
}
/* locations section */
.locations-section {
  padding: 150px;
  background-color: #252b42;
  color: #fff;
}
.location-section {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}
.location-text h3 {
  font-size: 38px;
  font-weight: 900;
  padding-bottom: 20px;
}
.location-text p {
  font-size: 16px;
  line-height: 1.5;
  left: 1.4;
}
.location-image img {
  height: 100%;
  width: 100%;
}
.location-text {
  flex: 1;
  margin-bottom: 500px;
}
.location-image {
  flex: 1;
  margin-bottom: 500px;
}
/* appointment section */
.appointment-section {
  padding: 100px;
  background-color: #eeeeee;
}
.appointement-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: -500px;
  background-color: #fff;
}

.appointement-image img {
  width: 100%;
  height: 800px;
  overflow: hidden;
  object-fit: cover;
}
.appointement-image {
  flex: 1;
}
.appointement-form {
  flex: 1;
  padding: 30px;
}
.appointement-form h3 {
  font-size: 38px;
  font-weight: 900;
  padding-bottom: 20px;
  text-transform: capitalize;
}
form {
  height: 100%;
}
form input {
  background-color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 60px;
  padding: 2px 5px;
  margin-bottom: 50px;
}

form select {
  background-color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 60px;
  padding: 20px 5px;
  margin-bottom: 50px;
}
.booking {
  width: 100%;
  height: 50px;
  background-color: #34b3f1;
  color: #fff;
  padding: 5px;
  outline: none;
  border: none;
  font-size: 15px;
  margin-top: 40px;
}
/* contact us section */
.contact-us-section {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
}
.contact-us-button {
  width: 200px;
  height: 50px;
  background-color: #34b3f1;
  color: #fff;
  padding: 5px;
  outline: none;
  border: none;
  font-size: 15px;
  margin-top: 40px;
}
.contact-us-text h3 {
  padding-bottom: 30px;
}

/* footer section */
.footer-section {
  padding: 100px 150px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.footer-section a {
  text-decoration: none;
  color: #000;
}
.footer-section a:hover {
  text-decoration: none;
}
.footer-section li {
  list-style-type: none;
  padding: 10px;
  font-size: 15px;
}
.footer-section li {
  list-style-type: none;
  padding: 10px;
  font-size: 15px;
}
.company-info {
  gap: 30px;
}
.company-info-heading {
  padding-bottom: 10px;
  font-size: 18px;
}
.company-info-heading h3 {
  font-weight: 500;
}
.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 150px;
  font-size: 14px;
}
.social-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-icons {
  color: #34b3f1;
}

.contact-icon {
  color: #34b3f1;
  font-size: 16px;
  padding-right: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* media queries */
@media (min-width: 450px) {
  .team-cards-section {
    display: flex;
    flex-wrap: nowrap;
    padding: 100px;
    gap: 40px;
    justify-content: space-evenly;
  }
  .pricing-cards {
    display: flex;
    flex-wrap: nowrap;
    padding: 100px;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  /* heading */
  .heroBtntwo {
    margin-top: 0;
  }
  .hero-text h1 {
    font-family: "Lato", sans-serif;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
  }
  /* hero btns */
  .hero-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  /* first cards section */
  .icons-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: -300px;
  }
  /* cards section */
  .cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  /* team cards section */
  .industry-section {
    padding: 20px;
    background-color: #eeeeee;
  }
  .team-cards-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    justify-content: space-evenly;
  }
  /* partners section */

  .partners-section {
    padding: 20px;
  }
  /* newsletter subscribe section */
  .newsletter-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right, rgb(45, 45, 150), #f40c80);
    padding: 20px;
    color: #fff;
  }
  input {
    outline: none;
    border: none;
    padding: 20px;
    height: 50px;
    width: 200px;
  }
  /* pricing section */
  .pricing-section {
    padding: 20px;
  }
  .pricing-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
  }
  /* locations */
  .locations-section {
    padding: 20px;
    background-color: #252b42;
    color: #fff;
  }
  .location-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
  }
  .location-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .location-image {
    margin-bottom: 50px;
  }
  /* appointement section */
  .appointement-form {
    /* flex: 1; */
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
  }
  .appointment-section {
    padding: 20px;
    background-color: #eeeeee;
  }
  .appointement-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    background-color: #fff;
    padding: 20px;
  }
  form input {
    background-color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 60px;
    padding: 2px 5px;
    margin-bottom: 50px;
  }
  form select {
    background-color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 60px;
    padding: 20px 5px;
    margin-bottom: 50px;
  }
  /* contact us section */
  .contact-us-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
  }
  /* footer section */
  .footer-section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  /* copyright section */
  .copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    font-size: 14px;
    flex-direction: column;
  }
  .copyright p {
    text-align: center;
    padding-bottom: 10px;
  }
  .social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}
